
#diem
{
	margin-top: 90px;
    text-align: center;
}
#thexh
{
	display:none;
	text-align: center;
}
#nutxh
{
    margin:15px;
}

#nutve1
{
	width: 120px;
}
.stl{
	width: 100%;
	padding:10px;
	border:1px solid black;
	border-collapse:collapse;
	}
.stl td{
	padding:10px;
	border:1px solid black;
	text-align: center;
	}
.stl th{
	text-align: center;
	padding:10px;
	border:1px solid black;
	}